<div class="layui-fluid layui-anim febs-anim" id="fbs_personalAssets" lay-title="个人资产">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">选择时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="time" id="user-createTime" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                            <i class="layui-icon">&#xe848;</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            $view = $('#fbs_personalAssets'),
            $query = $view.find('#query'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#user-createTime',
            range: false,
            trigger: 'click'
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'userTable',
                url: ctx + 'personalAssets/list',
                cols: [[
                    {field: 'date', title: '时间', sort: true},
                    {field: 'totalMoney', title: '总金额(万)'},
                    {field: 'gongJiJing', title: '公积金(万)'},
                    {field: 'hairdresserStock', title: '理发店股份(万)'},
                    {field: 'arrears', title: '星星欠款(万)'},
                    {field: 'consume', title: '消费(万)'},
                    {field: 'hairdresserBonus', title: '理发店分红(万)'}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            return params;
        }
    })
</script>